@model FoodService.Models.UsersInfoModel
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Пользователи";
    int counter = 1;
}

<table class="table table-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>Логин</th>
            <th>Почта</th>
            <th width="200px">Роль</th>
            <th width="330px">Действия</th>
        </tr>
    </thead>
    <tbody>        
        @foreach (var pair in Model.Users)
        {
            <tr>
                <th scope='row'>@counter</th>
                <td>@pair.User.UserName</td>
                <td>@pair.User.Email</td>
                <td class="text-info">@pair.Role</td>
                <td>
                    <div class="row ml-auto">
                        @{
                            if (Model.BannedUserIds.Contains(pair.User.Id))
                            {
                                <a class="btn btn-sm btn-success w-140px cursor-pointer" href="/Admin/PardonUser?userId=@pair.User.Id">Разблокировать</a>
                            }
                            else 
                            {
                                <a class="btn btn-sm btn-danger w-140px text-light cursor-pointer" href="/Admin/BanUser?userId=@pair.User.Id">Заблокировать</a>
                            }
                        }
                        <div class="dropdown">
                            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                Изменить роль
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                @foreach (var role in Model.Roles)
                                {
                                    <a class="dropdown-item" href="">@role.Name</a>
                                }
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            counter++;
        }
    </tbody>
</table>