@model IEnumerable<FoodService.Models.DbEntities.Product>
@{
    ViewData["Title"] = "Главная";
    string error = FoodService.Utils.MessageUtils.PopError(TempData);
    string successMessage = FoodService.Utils.MessageUtils.PopSuccessMessage(TempData);
}
@if (error != null)
{
    <div class="alert alert-danger">@error</div>
}
@if (successMessage != null)
{
    <div class="alert alert-success">@successMessage</div>
}
<div class="container">
    <form asp-controller="Profile" asp-action="StartPaymentTransaction" method="post">
        <div class="h4 mt-2">Корзина: </div>
        @if (Model.Count() == 0)
        {
            <h4 class='text-center fst-italic' style='text-decoration: underline;'>Пусто</h4>
        }
        else
        {
            <button class="btn btn-success mt-2" type="submit">Заказать выбранное</button>
            <div class="small text-secondary">Если вы не указали количество товаров, то по умолчанию заказывается 1 штука</div>

            <div class="d-flex align-content-start flex-wrap">
                @foreach (var product in Model)
                {
                    <div class="card product-card-sm mt-3 ml-3">
                        <img class="product-image-sm" src="@product.Image.Path" alt="Картинка">
                        <div class="card-body">
                            <a class="h5" href="/Home/Product?productId=@product.Id">@product.Name</a>
                            <div class="small text-secondary">@product.Shop.Name</div>
                            <div class="product-description-sm scrollable" style="">@product.Description</div>
                            <div class="font-weight-bold mt-1">@product.Price&#8381</div>
                            <input name="ProductsCount" class="form-control form-control-sm" type="text" placeholder="Количество" />
                            <button type="button" class="btn btn-warning btn-add-to-basket mt-1" data-productId="@product.Id">
                                <i class='fa fa-shopping-cart'></i>
                                Удалить из корзины
                            </button>
                        </div>
                        <input name="ProductIds" id="hiddenProductId" class="d-none" value="@product.Id" type="text">
                        <input id="hiddenProductPrice" name="Prices" class="d-none" value="@product.Price" />
                    </div>
                }
            </div>
        }
    </form>
</div>

@section Scripts {
    <script src="~/js/profile-basket.js"></script>
} 